!!!
%html
	%head
		%meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
	%body
		%p
			Dear #{@user.name},
		%p
			There's a new comment on the Boozle Blog
		%h3
			= link_to @comment.post.title, post_url(@comment.post, :anchor => "comment_#{@comment.id}")
		%p
			= simple_format truncate @comment.body, :length => 150 
		%p
			Becky Boozle
