<% content_for :title do %> 
  - All tags
<% end %>
<h2>All tags</h2>
<ul>
	<% @tags_listing.each do |tag| %>
	<li>
		<%= link_to "#{tag.tag} (#{tag.count})", tag_path(tag) %>
	</li>
	<% end %>
</ul>