- @title = "Posts tagged with #{@tag}"

.panel
  %h1.text-center #{ pluralize(@posts.count, 'post') } tagged with #{@tag}

= render :partial => 'posts/post', :collection => @posts, :spacer_template => 'shared/spacer'
