- @title = "Posts tagged with #{@tag}"

.well
  %h1 #{ pluralize(@posts.count, 'post') } tagged with #{@tag}

= render :partial => 'posts/post', :collection => @posts, :spacer_template => 'shared/spacer'
