<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>There's a new post on the Boozle Blog,</h1>
	<h2><%= link_to @post.title, post_url(@post) %></h2>
    <p>
      <%= simple_format truncate @post.body, :length => 150 %>
    </p>
  </body>
</html>