/* Showcase
-------------*/

/* This class is removed after the showcase is loaded */
/* Assign the correct showcase height to prevent loading jumps in IE */

$showcase-background: #eee; // $background-color;

.showcase-load {
  height: 470px;
  /* Same as showcase javascript option */
  overflow: hidden;
}

/* Container when content is shown as one page */

.showcase-onepage {
  /**/
}

/* Container when content is shown in slider */

.showcase {
  position: relative;
  margin: auto;
  
  @include border-radius(2px);
  
}

.showcase-content-container {
  background-color: $showcase-background;
}

/* Navigation arrows */

.showcase-arrow-previous, .showcase-arrow-next {
  position: absolute;
  background: image-url("showcase/arrows.png");
  width: 33px;
  height: 33px;
  top: 220px;
  cursor: pointer;
}

.showcase-arrow-previous {
  z-index: 100;
  left: 10px;
  &:hover {
    background-position: 0px -34px;
  }
}

.showcase-arrow-next {
  z-index: 100;
  right: 10px;
  background-position: -34px 0;
  &:hover {
    background-position: -34px -34px;
  }
}

iframe{
  max-width: 100%;
}

/* Content */

.showcase-content {
  background-color: $showcase-background;
  text-align: center;
  
  img{
    @include border-radius(1px);
  }
}

.showcase-content-wrapper {
  text-align: center;
  height: 470px;
  width: 700px;
  display: table-cell;
  vertical-align: middle;
}

/* Styling the tooltips */

.showcase-plus-anchor {
  background-image: image-url("showcase/plus.png");
  background-repeat: no-repeat;
  &:hover {
    background-position: -32px 0;
  }
}

div.showcase-tooltip {
  background-color: #fff;
  color: #000;
  text-align: left;
  padding: 5px 8px;
  background-image: image-url('showcase/white-opacity-80.png');
}

/* Styling the caption */

.showcase-caption {
  color: #000;
  padding: 8px 15px;
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: none;
  background-image: image-url('showcase/white-opacity-80.png');
}

.showcase-onepage .showcase-content {
  margin-bottom: 10px;
}

/* Button Wrapper */

.showcase-button-wrapper {
  clear: both;
  margin-top: 10px;
  text-align: center;
  span {
    margin-right: 3px;
    padding: 2px 5px 0px 5px;
    cursor: pointer;
    font-size: 12px;
    color: #444444;
    &.active {
      color: #aaa;
    }
  }
}

/* Thumbnails */

.showcase-thumbnail-container {
  background-color: $showcase-background;
}

.showcase-thumbnail-wrapper {
  overflow: hidden;
}

.showcase-thumbnail {
  width: 120px;
  height: 90px;
  cursor: pointer;
  border: solid 1px #333;
  position: relative;
  background-color: #000;
}

.showcase-thumbnail-caption {
  position: absolute;
  bottom: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.showcase-thumbnail-content {
  padding: 10px;
  text-align: center;
  padding-top: 25px;
}

.showcase-thumbnail-cover {
  background-image: image-url('showcase/black-opacity-40.png');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.showcase-thumbnail {
  &:hover, &.active {
    border: solid 1px #eee;
    .showcase-thumbnail-cover {
      display: none;
    }
  }
}

.showcase-thumbnail-wrapper-horizontal {
  padding: 10px;
  .showcase-thumbnail {
    margin-right: 10px;
    width: 116px;
  }
}

.showcase-thumbnail-wrapper-vertical {
  padding: 10px;
  .showcase-thumbnail {
    margin-bottom: 10px;
  }
}

.showcase-thumbnail-button-backward, .showcase-thumbnail-button-forward {
  padding: 7px;
  cursor: pointer;
}

.showcase-thumbnail-button-backward {
  padding-bottom: 0px;
  padding-right: 0px;
  .showcase-thumbnail-vertical {
    background-image: image-url('showcase/arrows-small.png');
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 17px;
  }
}

.showcase-thumbnail-button-forward {
  .showcase-thumbnail-vertical, .showcase-thumbnail-horizontal {
    background-image: image-url('showcase/arrows-small.png');
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 17px;
  }
}

.showcase-thumbnail-button-backward {
  .showcase-thumbnail-horizontal {
    background-image: image-url('showcase/arrows-small.png');
    background-repeat: no-repeat;
    display: block;
    width: 17px;
    height: 17px;
  }
  .showcase-thumbnail-vertical {
    background-position: 0 -51px;
    margin-left: 55px;
  }
  &:hover .showcase-thumbnail-vertical {
    background-position: -17px -51px;
  }
}

.showcase-thumbnail-button-forward {
  .showcase-thumbnail-vertical {
    background-position: 0 -34px;
    margin-left: 55px;
  }
  &:hover .showcase-thumbnail-vertical {
    background-position: -17px -34px;
  }
}

.showcase-thumbnail-button-backward {
  .showcase-thumbnail-horizontal {
    background-position: 0 -17px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &:hover .showcase-thumbnail-horizontal {
    background-position: -17px -17px;
  }
}

.showcase-thumbnail-button-forward {
  .showcase-thumbnail-horizontal {
    background-position: 0 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &:hover .showcase-thumbnail-horizontal {
    background-position: -17px 0;
  }
  span span {
    display: none;
  }
}

/* Hide button text */

.showcase-thumbnail-button-backward span span {
  display: none;
}