@font-face {
  font-family: 'OldStandardTTBold';
  src: font_url("OldStandard-Bold-webfont.eot");
  src: font_url("OldStandard-Bold-webfont.eot?#iefix") format("eot"), font_url("OldStandard-Bold-webfont.woff") format("woff"), font_url("OldStandard-Bold-webfont.ttf") format("truetype"), font_url("OldStandard-Bold-webfont.svg#webfontSZqzK5gx") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {	
  font-weight: normal;
  font-family: OldStandardTTBold, Goudy Old Style, serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.2em;
  color:$heading-color;
}

a, a:hover{
  color:$heading-color;
  text-decoration: none;
  h1, h2, h3, h4 {
    text-decoration: none;
  }
}

h1 {
  
  @include bordered-zone;

  font-size: 2.6em;
  padding: 2px 15px 2px 64px;
  
  @media(min-width: $phone){
    font-size: 4em;
    display: inline-block;
  }
  @media(min-width: $tablet){
    font-size: 6em;
    padding: 12px 15px 12px 64px;
  }
  
  min-height: 64px;
  line-height: 64px;
  background: white image_url('logo.png') no-repeat 5px 50%;
}

h2 {
  font-size: 2.3em;
  
  @media(min-width: $phone){
    font-size: 2.8em;
  }
}

h4{
  padding: 3px 0px 0px 19px;
  background:  image_url('logo_sm.png') no-repeat 3px 50%;
  
  nav &{
    margin-top: 20px;
  }
}

h5{
  margin-top: 0;
} 
  
nav{
  ul ul {
    text-indent: 10px;
  }
  
  a:hover{
    text-decoration: underline;
  }
}
  