- content_for :title do
	| #{month_name(@current_month)}
	
%h2<
	#{pluralize(@posts.count, 'post')} from #{month_name(@current_month)}
	
= render :partial => 'synopsis', :collection => @posts, :as => :post