<li>
	<%= link_to "#{recent_comment.user.name}", recent_comment.user %> commented on 
	<%= link_to "#{recent_comment.post.title}", post_path(recent_comment.post, :anchor => "comment-#{recent_comment.id}") %>
</li>