<% unless @posts.empty? %>
<div>
	<%= render :partial => 'post', :object => @posts.first %>
</div>
<% end %>
<div id="teasers">
	<%= render :partial => 'teaser', :collection => @posts.drop(1), :as => :post %>
</div>
