// https://kuler.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=4&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.36470588235294116,0.5411764705882353,0.6588235294117647,0.9482538449729345,0.9793015379891573,1,0.8482538449729345,0.9393015379891255,1,0.7,0.4526015998347005,0.0984823211665084,1,0.9375882749485679,0.8482538449729345&swatchOrder=0,1,2,3,4

$air-force-blue: #5D8AA8;
$roundel-blue: #00257d;
$roundel-red: #cc1225;

@import url(http://fonts.googleapis.com/css?family=Stardos+Stencil:400&text=TheBoozleBlog);

@import 'normalize';
@import 'foundation';

@mixin padded($top: 20px, $bottom: 20px){
  padding-top: rem-calc($top);
  padding-bottom: rem-calc($bottom);
}

header, footer{
  background: $air-force-blue;
  @include padded(30px, 30px);
}

header{
  margin-bottom: 1.5em;
  h1{
    font-family: 'Stardos Stencil';
    color: white;
  }
  
  @media #{ $medium-up } {
    .column{  
      background-image: url(image_path('200px-RAF_roundel.png'));
      background-repeat: no-repeat;
      background-size: auto 100% ;
      background-position: #{ $column-gutter /2 } 50%;
    }
  }
  
  @media #{ $large-up } {
    
    h1{
      font-size: 4.5rem;
    }
  }
}

footer{
  min-height: 100px;
}

#main{
  @include padded;
}

article{
  margin-bottom: rem-calc(10px);
}

.avatar{
  box-shadow: 0 0 3px 5px $air-force-blue;
}

textarea{
  min-height: 10em;
}

.content{
  width: 100%;
}

#photos-picasa .selected img{
  outline: 3px solid $primary-color;
}

/***** Fix Block Grid and Clearing Compatibility *****/
[class*="block-grid-"] li {
  margin-right:0 !important;
}
.clearing-blackout li {
  clear:inherit !important;
  position: static !important;
}
