<% content_for :content do %>
<div class="clearfix">
	<div class="left">
		<%= yield %>
	</div>
	<div class="right">
		<%= render :partial => 'shared/side_bar' %>
	</div>
</div>
<% end %>
<%= render :file => 'layouts/application' %>